<div class="row">
  <div class="hero col-md-12">
    <div class="hero-title">
      <h1>Gallery</h1>
      <p>Lollipop apple pie gingerbread toffee cotton candy gummi bears halvah.</p>
    </div>
    <div class="hero-bg" id="gallery-hero-bg-img">
    </div>
  </div>
</div>

<div class="row">
  <div class="gallery col-md-12">
    <div class="gallery-container">

      <div class="gallery-box">
        <div class="gallery-pic">
          <%= image_path("pic1", alt: "House1") %>
        </div>
        <div class="gallery-caption">
          <h4>Lorem Ipsum</h4>
          <p>Carrot cake soufflé oat cake pie chocolate muffin I love candy.</p>
          <button type="button" class="btn btn-default">View</button>
        </div>
      </div>

      <div class="gallery-box">
        <div class="gallery-pic">
          <%= image_path("pic2", alt: "House2") %>
        </div>
        <div class="gallery-caption">
          <h4>Lorem Ipsum</h4>
          <p>Carrot cake soufflé oat cake pie chocolate muffin I love candy.</p>
          <button type="button" class="btn btn-default">View</button>
        </div>
      </div>

      <div class="gallery-box">
        <div class="gallery-pic">
          <%= image_path("pic3", alt: "House3") %>
        </div>
        <div class="gallery-caption">
          <h4>Lorem Ipsum</h4>
          <p>Carrot cake soufflé oat cake pie chocolate muffin I love candy.</p>
          <button type="button" class="btn btn-default">View</button>
        </div>
      </div>

      <div class="gallery-box">
        <div class="gallery-pic">
          <%= image_path("pic4", alt: "House4") %>
        </div>
        <div class="gallery-caption">
          <h4>Lorem Ipsum</h4>
          <p>Carrot cake soufflé oat cake pie chocolate muffin I love candy.</p>
          <button type="button" class="btn btn-default">View</button>
        </div>
      </div>

      <div class="gallery-box">
        <div class="gallery-pic">
          <%= image_path("pic5", alt: "House5") %>
        </div>
        <div class="gallery-caption">
          <h4>Lorem Ipsum</h4>
          <p>Carrot cake soufflé oat cake pie chocolate muffin I love candy.</p>
          <button type="button" class="btn btn-default">View</button>
        </div>
      </div>

      <div class="gallery-box">
        <div class="gallery-pic">
          <%= image_path("pic6", alt: "House6") %>
        </div>
        <div class="gallery-caption">
          <h4>Lorem Ipsum</h4>
          <p>Carrot cake soufflé oat cake pie chocolate muffin I love candy.</p>
          <button type="button" class="btn btn-default">View</button>
        </div>
      </div>

    </div>
  </div>
</div>
